.wrapper {
  height: 450px;
  width: 700px;
  border: 2px solid #eceef0;
  border-radius: 5px;
  display: block;
  margin: 5em auto;
}
.searchForm {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.searchForm input {
  padding: 0.7rem;
}
.searchForm button {
  padding: 0.7rem;
}

#icon {
  float: left;
}
ul {
  margin-top: 1.7em;
  line-height: 1.2em;
  padding-left: 1.2em;
}
ul li {
  color: #7c7c7c;
  list-style-type: none;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
}
li::first-letter {
  text-transform: capitalize;
}
ul li h1 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
}
.cloudySunnyIcon {
  font-size: 50px;
  margin-left: 0.4em;
  margin-top: 0.1em;
}

.temperaturewrapper {
  margin-left: 1em;
}
#temperature {
  font-size: 50px;
  line-height: 1.8;
}
span a {
  text-decoration: none;
}
.temperatureScales {
  position: relative;
  top: -25px;
}

.weatherData {
  margin-top: 0;
}
p {
  text-align: center;
  margin-top: -5em;
  margin-left: -26em;
  font-family: arial, sans-serif;
}
p a {
  text-decoration: none;
}

.temperaturewrapper .active {
  color: black;
  cursor: default;
}
